{% extends 'base.html' %}
{% block body %}

    <div class="header">
        <h2>Contact</h2>
        <h3>Meet the Creators</h3>
    </div>

    <br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/felice.jpg">
        </div>
        <div class="text">
          <h5>Félice de Charro</h5>
          <h6><u>Advisor</u></h6>
          <br>
          <p>As an advisor, I am involved in many different types of projects and programmes. For example, I focus on improving privacy awareness by organizing activities from the Regional Expertise Center for Privacy & Information Security.</p>
          <br>
          <p1 ><i><a href="mailto:pi@sigra.nl" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="https://www.linkedin.com/in/félice-de-charro-17446813/" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/marit.jpg">
        </div>
        <div class="text">
          <h5>Marit Blom</h5>
          <h6><u>Advisor</u></h6>
          <br>
          <p>On the one hand, I am committed to privacy and information security and on the other hand to more control over health by the residents. From the regional expertise network Privacy & Information Security, we organize themed sessions for members (DPOs, lawyers, privacy and security officers).</p>
          <br>
          <p1 ><i><a href="mailto:pi@sigra.nl" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="https://www.linkedin.com/in/marit-blom-992b337/" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>


    

    <div class="side-alt2">
        <div class="text-container">
        <h4 style="margin-bottom: 0%; padding-left: 0%;">Join the Community</h4>
        <h4 style="margin-top: 0%; margin-bottom: 0%; color: black; font-size: 2.34vw;">Connect on</h4>
        </div>
        <div class="imgcontact">
            <a href="/linkedin_group" target="_blank"><img src="static/img/LinkedIn_Logo.png"></a>
          </div>
    </div>

    {% endblock %}