{% extends 'base_NL.html' %}
{% block body %}

    <div class="header">
        <h2>Contact</h2>
        <h3>Leer de makers kennen</h3>
    </div>

    <br>

    <div class="container">
      <div class="imgcontact">
        <img src="static/img/felice.jpg">
      </div>
      <div class="text">
        <h5>Félice de Charro</h5>
        <h6><u>Adviseur</u></h6>
        <br>
        <p>Als adviseur ben ik bij veel verschillende soorten projecten en programma’s betrokken. Zo richt ik mij bijvoorbeeld op het verbeteren van het privacy bewustzijn door activiteiten te organiseren vanuit het Regionaal Expertise Centrum Privacy & Informatieveiligheid.</p>
        <br>
        <p1 ><i><a href="mailto:pi@sigra.nl" style="color: black">Email</a></i></p1>
        <br>
        <p1 ><i><a href="https://www.linkedin.com/in/félice-de-charro-17446813/" style="color: black">LinkedIn</a></i></p1>
      </div>
  </div>

  <br><br>

  <div class="container">
      <div class="imgcontact">
        <img src="static/img/marit.jpg">
      </div>
      <div class="text">
        <h5>Marit Blom</h5>
        <h6><u>Adviseur</u></h6>
        <br>
        <p>Ik zet me enerzijds in voor privacy en informatieveiligheid en anderzijds voor meer regie op gezondheid door de inwoners. Vanuit het regionaal expertisenetwerk Privacy & Informatieveiligheid organiseren we themasessies voor leden (FG’s, juristen, privacy en security officers).</p>
        <br>
        <p1 ><i><a href="mailto:pi@sigra.nl" style="color: black">Email</a></i></p1>
        <br>
        <p1 ><i><a href="https://www.linkedin.com/in/marit-blom-992b337/" style="color: black">LinkedIn</a></i></p1>
      </div>
  </div>

    <br><br>


    

    <div class="side-alt2">
        <div class="text-container">
        <h4 style="margin-bottom: 0%; padding-left: 0%;">De OpenKAT community</h4>
        <h4 style="margin-top: 0%; margin-bottom: 0%; color: black; font-size: 2.34vw;">Connect via</h4>
        </div>
        <div class="imgcontact">
            <a href="/linkedin_group" target="_blank"><img src="static/img/LinkedIn_Logo.png"></a>
          </div>
    </div>

    {% endblock %}