{% extends 'base_NL.html' %}
{% block body %}
<div class="header">
    <h2 style="font-size: 7vw;">OpenGáta x OpenKAT</h2>
    <h3>Toelichting over de kwetsbaarheden Analyse Tool</h3>
</div>

<div class="row">

    <div class="side">
        <br>
        <h3>
            Wist u dat?
        </h3>
        <h4 style="font-size: 12vw;">
            37%
        </h4>
    </div>

    <div class="main">
        <h3>
            van alle datalekken in 2021 in Nederland plaatsvonden in de <h7 style="color: #ca005d;">gezondheidszorg</h6>
        </h3>
    </div>

    <div class="greybox2A">
        <br>
        <h2>
            <h7 style="color:#ca005d; padding: 1vw; padding-right: 0vw;">Open</h7>KAT
        </h2>
        <p>
            is een tool dat de cyberbeveiliging van een organisatie constant analyseert om kwetsbaarheden te detecteren. 
            De resultaten van een scan worden vertaald in een rapport dat uw organisatie op elk gewenst moment kan genereren.
        </p>
        <br>
        <a href="/About_OpenKAT"><button type="button" class="button">Lees meer!</button></a>
    </div>

    <div class="greybox2B">
        <img src="static/img/Stock_image1.png">

    </div>

    <div class="top_team">
        <h3>
            Meet the Team
        </h3>
    </div>

    <div class="team">

        <div class="team_window">
            <div class="team_box">
                <img src="static/img/Yehia.jpg">
                <p> <span style="font-weight: 500; color: black;">Yehia Amr Farouk</span>
                    <br>
                    <span style="font-size: 1vw;">
                        BSc Computational Social Science
                        <br>
                        Universiteit van Amsterdam
                        <br>
                    </span>
                    <span style="font-size: 0.8vw; ">
                        <a href="https://www.linkedin.com/in/ella-sartory-135b9724b/">
                            LinkedIn
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="team_window">
            <div class=team_box>
                <img src="static/img/dima.jpg">
                <p> <span style="font-weight: 500; color: black;">Dmitry Golovchits</span>
                    <br>
                    <span style="font-size: 1vw;">
                        BSc Computational Social Science
                        <br>
                        Universiteit van Amsterdam
                        <br>
                    </span>
                    <span style="font-size: 0.8vw; ">
                        <a href="https://www.linkedin.com/in/dmitry-golovchits/">
                            LinkedIn
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="team_window">
            <div class=team_box>
                <img src="static/img/teun.png">
                <p> <span style="font-weight: 500; color: black;">Teun Heerze</span>
                    <br>
                    <span style="font-size: 1vw;">
                        BSc Computational Social Science
                        <br>
                        Universiteit van Amsterdam
                        <br>
                    </span>
                    <span style="font-size: 0.8vw; ">
                        <a href="https://www.linkedin.com/in/teun-heerze-447537201/">
                            LinkedIn
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="team_window">
            <div class=team_box>
                <img src="static/img/Diana.jpg">
                <p> <span style="font-weight: 500; color: black;">Diana Mišíková</span>
                    <br>
                    <span style="font-size: 1vw;">
                        BSc Computational Social Science
                        <br>
                        Universiteit van Amsterdam
                        <br>
                    </span>
                    <span style="font-size: 0.8vw; ">
                        <a href="https://www.linkedin.com/in/diana-mi%C5%A1%C3%ADkov%C3%A1/">
                            LinkedIn
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="team_window">
            <div class=team_box>
                <img src="static/img/Ella.jpg">
                <p> <span style="font-weight: 500; color: black;">Ella Sartory </span>
                    <br>
                    <span style="font-size: 1vw;">
                        BSc Computational Social Science
                        <br>
                        Universiteit van Amsterdam
                        <br>
                    </span>
                    <span style="font-size: 0.8vw; ">
                        <a href="https://www.linkedin.com/in/ella-sartory-135b9724b/">
                            LinkedIn
                        </a>
                    </span>
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}