{% extends 'base_NL.html' %}
{% block body %}

<div class="header">
    <h2>Over OpenKAT</h2>
</div>

<div class="row">

    <div class="greybox5">
        <h2 style="padding-left: 1vw;">
            Het verhaal achter<h7 style="color:#2f5379; padding: 1vw;">OpenKAT</h7>
        </h2>
        <p style="display: inline-block;">
            OpenKAT is ontwikkeld tijdens de Covid-19-pandemie voor het ministerie van Volksgezondheid. Het is toen gebruikt
            om mogelijke datalekken in de CoronaCheck-App te ontdekken. OpenKAT is sindsdien een
            <span style="font-weight: 700;">gratis</span> open-source tool geworden, en
            is voor iedereen beschikbaar om te gebruiken en verder te ontwikkelen.
        </p>
    </div>

    <div class="greybox1A">
        <h2>
            <h7 style="color:#2f5379; padding: 1vw;">WAT</h7>is OpenKAT?
        </h2>
        <br>
        <img src="static/img/ok_NL.png">
    </div>

    <div class="greybox1B">
        <p>
            OpenKAT is een monitoringtool en kwetsbaarheidsscanner.
            <br><br>
            Wat doet het?

        </p>

        <ul>
            <li>Combineert informatie uit verschillende bronnen en tools</li>
            <li>Scant uw netwerk automatisch</li>
            <li>Brede analyse en detectie van kwetsbaarheden</li>
        </ul>
    </div>

    <div class="greybox2A">
        <h2 style="padding-left: 1vw;">
            Voor<h7 style="color:#2f5379; padding: 1vw;">WIE</h7>is OpenKAT?
        </h2>
        <br>
        <p>
            Perfect voor elke organisatie, ongeacht haar grootte
        </p>
        <ul>
            <li>Werkt met complexe of grote systemen</li>
            <li>Detecteert kwetsbaarheden en configuratiefouten die zich ergens verschuilen</li>
        </ul>
        <p>
            OpenKAT vindt ze voordat ze gevonden worden.
        </p>
    </div>

    <div class="greybox2B">
        <br><br>
        <img src="static/img/healthcare.jpg">
    </div>

    <div class="greybox4A">
        <h2>
            <h7 style="color:#2f5379; padding: 1vw;">HOE</h7>werkt OpenKAT?
        </h2>
        <br>
        <img src="static/img/openkat modules_NL.png">
    </div>

    <div class="greybox4B">
        <ul>
            <li>
                <h7>BOEFJES</h7>
                scannen and verzamelen informatie
            </li>
            <li>
                <h7>BYTES</h7>
                slaan ruwe data and metadata op
            </li>
            <li>
                <h7>WHISKERS</h7>
                filteren op relevante objecten
            </li>
            <li>
                <h7>OCTOPOES</h7>
                slaat de gefilterde objecten op
            </li>
            <li>
                <h7>BITS</h7>
                analyseren objecten in de Octopoes and genereert resultaten
            </li>

        </ul>
    </div>

    <div class="greybox3A">
        <h2>
            <h7 style="color:#2f5379; padding: 1vw;">WAAROM</h7>OpenKAT?
        </h2>
        <p>De meeste datalekken worden veroorzaakt door:</p>
        <ul>
            <li>Bekende kwetsbaarheden</li>
            <li>Menselijke fouten</li>
            <li>Constante updates</li>
        </ul>
        <p>OpenKAT:</p>
        <ul>
            <li>Is open source: open toegankelijk en gezamenlijk ontwikkeld</li>
            <li>Is aanpasbaar en adaptief via plug-ins</li>
            <li>Maakt praktische rapporten</li>
            <li>Is eenvoudig aanpasbaar voor nieuwe kwetsbaarheden</li>
        </ul>
    </div>

    <div class="greybox3B">
        <h2>
            <h7 style="color:#2f5379; padding: 1vw;">Interesse?</h7>Neem contact op!
        </h2>
        <p>
            Het vinden van de juiste beveiligingstool voor uw bedrijf is een moeilijke keuze.
            Hopelijk kunnen we het proces voor u vergemakkelijken.
        </p>
        <p>
            Heeft u vragen over OpenKAT? Neem contact met ons op!
        </p>
        <br>
        <a href="/Contact_NL"><button type="button" class="button">Neem contact op!</button></a>
        <a href="/OpenKAT_website" target="_blank"><button type="button" class="button">OpenKAT-website</button></a>
    </div>

</div>

{% endblock %}