{% extends 'base.html' %}
{% block body %}

    <div class="header">
        <h2>Contact</h2>
        <h3>Meet the Creators</h3>
    </div>

    <br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/Person 1.png">
        </div>
        <div class="text">
          <h5>Person 1</h5>
          <h6><u>Job description</u></h6>
          <br>
          <p>Description of position | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
          <br>
          <p1 ><i><a href="#" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="#" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/Person 2.png">
        </div>
        <div class="text">
          <h5>Person 2</h5>
          <h6><u>Job description</u></h6>
          <br>
          <p>Description of position | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
          <br>
          <p1 ><i><a href="#" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="#" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>


    

    <div class="side-alt2">
        <div class="text-container">
        <h4 style="margin-bottom: 0%; padding-left: 0%;">Join the Community</h4>
        <h4 style="margin-top: 0%; margin-bottom: 0%; color: black; font-size: 2.34vw;">Connect on</h4>
        </div>
        <div class="imgcontact">
            <a href="/linkedin_group" target="_blank"><img src="static/img/LinkedIn_Logo.png"></a>
          </div>
    </div>

    {% endblock %}