<!DOCTYPE html>
<html lang = eng></html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Contact</title>
    
</head>

<body>
    <!-- Navigation bar adapted from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ -->
    <nav class="navbar">

        <!-- LOGO -->
        <div class="logo">
            <a href="/">
                <img src="static/img/cat.png">
                <img class="hover" src="static/img/cat-hover.png">
                <i>
                    OpenGÁTA
                </i>
            </a>
        </div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/About_OpenKAT">About OpenKAT</a></li>
                <li><a href="/Experiences">Experiences</a></li>
                <li class="services">
                    <a href="/Contact">Contact</a>

                    <!-- DROPDOWN MENU -->
                    <!-- <ul class="dropdown">
                        <li><a href="/">Dropdown 1 </a></li>
                        <li><a href="/">Dropdown 2</a></li>
                        <li><a href="/">Dropdown 2</a></li>
                        <li><a href="/">Dropdown 3</a></li>
                        <li><a href="/">Dropdown 4</a></li>
                    </ul> -->
                </li>
            </div>
        </ul>
    </nav>

    <div class="header">
        <h2>Contact</h2>
        <h3>Meet the Creators</h3>
    </div>

    <br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/Person 1.png">
        </div>
        <div class="text">
          <h5>Person 1</h5>
          <h6><u>Job description</u></h6>
          <br>
          <p>Description of position | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
          <br>
          <p1 ><i><a href="#" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="#" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="imgcontact">
          <img src="static/img/Person 2.png">
        </div>
        <div class="text">
          <h5>Person 2</h5>
          <h6><u>Job description</u></h6>
          <br>
          <p>Description of position | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt...</p>
          <br>
          <p1 ><i><a href="#" style="color: black">Email</a></i></p1>
          <br>
          <p1 ><i><a href="#" style="color: black">LinkedIn</a></i></p1>
        </div>
    </div>

    <br><br>
    
    <div class="row experiences">
        <div class="top_team">
            <h3>
                Meet the Team
            </h3>
        </div>
        <div class="row">
            <div class="team_1">
                <h3>
                    <a href="https://www.government.nl/ministries/ministry-of-health-welfare-and-sport"><img
                            src="static/img/government.png"></a>
                </h3>
            </div>

            <div class="team_2">
                <h3>
                    <a href="https://www.kennisnet.nl"><img src="static/img/Kennisnet.png"></a>
                </h3>
            </div>

            <div class="team_3">
                <h3 class="bottom_left">
                    <a href="https://www.bdo.nl/en-gb/bdo-netherlands"><img src="static/img/BDO.webp"></a>
                </h3>
            </div>

            <div class="team_4">
                <h3>
                    <a href="https://www.government.nl/ministries/ministry-of-health-welfare-and-sport"><img
                            src="static/img/government.png"></a>
                </h3>
            </div>


            </div>
        </div>
    </div>

    

    <div class="side-alt2">
        <div class="text-container">
        <h4 style="margin-bottom: 0%; padding-left: 0%;">Join the Community</h4>
        <h4 style="margin-top: 0%; margin-bottom: 0%; color: black; font-size: 2.34vw;">Connect on</h4>
        </div>
        <div class="imgcontact">
            <a href="https://www.linkedin.com/groups/12594016/"><img src="static/img/linkedin1.png"></a>
          </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="footer_main">
                <h3>
                    <h8>
                    Overview
                    </h8>
                    <br>
                    <div class="footer_subtitle">
                        <a href="/">Home</a>
                        <br>
                        <a href="/About_OpenKAT">About OpenKAT</a>
                        <br>
                        <a href="/Experiences">Experiences</a>
                    </div>
                </h3>  
            </div>
        
            <div class="footer_main">
                <h3>
                    <h8>
                    Get in touch!
                    </h8>
                    <br>
                    <h9 class="footer_subtitle" style="margin-top: 2vw;">
                    <a href="/Contact">Contact</a>
                    <br>
                    <a href="https://openkat.nl/#">OpenKAT Website</a>
                    </h9>
                </h3>
            </div>

            <div class="footer_empty">
                <h3>
                     
                </h3>
            </div>

            <div class="footer_main">
                <h3>
                    <h8>
                        Join the Community
                    </h8>
                    <br>
                    <p class="footer_subtitle">
                    Connect on
                    <p>
                    <div class="footer_socials">
                        <div class="social_icons">
                        <a href="https://www.linkedin.com/groups/12594016/">
                            <img src="static/img/linkedin.png">
                        </a> 
                        <a href="https://github.com/minvws/nl-kat-coordination">
                            <img src="static/img/github.png">
                        </a>
                        </div>
                    </div> 
                </h3>
            </div>
        </div>
    </div>
    
    
</body>

</html>