<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>OpenGÁTA</title>
</head>

<body>
    <!-- Navigation bar adapted from https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ -->
    <nav class="navbar">

        <!-- LOGO -->
        <div class="logo">
            <a href="/">
                <img src="static/img/cat.png">
                <img class="hover" src="static/img/cat-hover.png">
                <i>
                    OpenGÁTA
                </i>
            </a>
        </div>

        <!-- NAVIGATION MENU -->
        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li><a href="/About_OpenKAT">About OpenKAT</a></li>
                <li><a href="/Experiences">Experiences</a></li>
                <li class="services">
                    <a href="/Contact">Contact</a>

                    <!-- DROPDOWN MENU -->
                    <!-- <ul class="dropdown">
                        <li><a href="/">Dropdown 1 </a></li>
                        <li><a href="/">Dropdown 2</a></li>
                        <li><a href="/">Dropdown 2</a></li>
                        <li><a href="/">Dropdown 3</a></li>
                        <li><a href="/">Dropdown 4</a></li>
                    </ul> -->
                </li>
            </div>
        </ul>
    </nav>

    <div class="header">
        <h2>Experiences</h2>
        <h3>Partner Statements</h3>
    </div>

    <!-- html for responsive carousel adapted from
    https://codepen.io/jh3y/pen/WwVKLN -->
    <div class="carousel-row">
        <div class="carousel-container">
            <div class="carousel my-carousel carousel--translate">
                <input class="carousel__activator" type="radio" name="carousel" id="F" checked="checked" />
                <input class="carousel__activator" type="radio" name="carousel" id="G" />
                <input class="carousel__activator" type="radio" name="carousel" id="H" />
                <div class="carousel__controls">
                    <label class="carousel__control carousel__control--backward" for="H"></label>
                    <label class="carousel__control carousel__control--forward" for="G"></label>
                </div>
                <div class="carousel__controls">
                    <label class="carousel__control carousel__control--backward" for="F"></label>
                    <label class="carousel__control carousel__control--forward" for="H"></label>
                </div>
                <div class="carousel__controls">
                    <label class="carousel__control carousel__control--backward" for="G"></label>
                    <label class="carousel__control carousel__control--forward" for="F"></label>
                </div>
                <div class="carousel__track">
                    <li class="carousel__slide">
                        <!-- <h1>F</h1> -->
                        <div class="side_panels">
                            <h3 class="rectangle">
                                <div class="inner" style="padding: 1.5vw;">
                                    <img src="static/img/zcert.logo.png" alt="Z-Cert"
                                        style="width: 21vw; height: 7vw; margin-top: 1vw;">
                                    <br>
                                    <p style="margin-top: 3.15vw;">“The great thing about KAT is that we can closely
                                        follow the development of security and vulnerabilities that are often missed. We
                                        see in practice how systems improve quickly through continuous monitoring. All
                                        this without a negative privacy aftertaste.”</p>
                            </h3>
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <!-- <h1>G</h1> -->
                        <div class="middle_panels">
                            <h3 class="rectangle">
                                <div class="inner" style="padding: 1.5vw;">
                                    <img src="static/img/logo-cert.png" alt="Cert"
                                        style="width: 19.5vw; height: 9.2vw; margin-top: 1vw;">
                                    <br>
                                    <p style="margin: 1vw;">“There are a lot of powerful open-source tools on the market
                                        that are very strong in themselves at performing a specific action. But what if
                                        all these tools could be properly integrated with each other? What if these
                                        tools together form a powerful scanner to detect all kinds of vulnerabilities?
                                        That is what the developers of OpenKAT had in mind when developing this tool”
                                    <p>
                            </h3>
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <!-- <h1>H</h1> -->
                        <div class="side_panels">
                            <h3 class="rectangle">
                                <div class="inner" style="padding: 1.5vw;">
                                    <img src="static/img/logo-sidn.svg" alt="SIDN" style="width: 9.5vw; height: 9.5vw;">
                                    <br>
                                    <p style="margin-top: 1.6vw;">“I see the software as suitable for compliance testing
                                        in all sorts of settings. The crucial thing is to keep the existing partnerships
                                        going”</p>
                            </h3>
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <h1>I</h1>
                    </li>
                    <li class="carousel__slide">
                        <h1>J</h1>
                    </li>
                </div>
                <div class="carousel__indicators">
                    <label class="carousel__indicator" for="F"></label>
                    <label class="carousel__indicator" for="G"></label>
                    <label class="carousel__indicator" for="H"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row experiences">
        <div class="top_bottom">
            <h3>
                OpenKAT is trusted by
            </h3>
        </div>
        <div class="row">
            <div class="bottom_side">
                <h3>
                    <a href="https://www.government.nl/ministries/ministry-of-health-welfare-and-sport"><img
                            src="static/img/government.png"></a>
                </h3>
            </div>

            <div class="middle_bottom">
                <h3>
                    <a href="https://www.kennisnet.nl"><img src="static/img/Kennisnet.png"></a>
                </h3>
            </div>

            <div class="bottom_side">
                <h3 class="bottom_left">
                    <a href="https://www.bdo.nl/en-gb/bdo-netherlands"><img src="static/img/BDO.webp"></a>
                </h3>
            </div>

            <div class="bottom_side">
                <h3>
                    <a href="https://www.bravisziekenhuis.nl"><img src="static/img/bravis.png"></a>
                </h3>
            </div>

            <div class="middle_bottom">
                <h3>
                    <a href="https://www.catharinaziekenhuis.nl"><img src="static/img/catharina.svg"></a>
                </h3>
            </div>

            <div class="bottom_side">
                <h3 class="bottom_left">
                    <a href="https://www.sdbgroep.nl"><img src="static/img/sdb.jpg"></a>
                </h3>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="footer_main">
                <h3>
                    <h8>
                    Overview
                    </h8>
                    <br>
                    <div class="footer_subtitle">
                        <a href="index.html">Home</a>
                        <br>
                        <a href="/About_OpenKAT">About OpenKAT</a>
                        <br>
                        <a href="/Experiences">Experiences</a>
                    </div>
                </h3>  
            </div>
        
            <div class="footer_main">
                <h3>
                    <h8>
                    Get in touch!
                    </h8>
                    <br>
                    <h9 class="footer_subtitle" style="margin-top: 2vw;">
                    <a href="/Contact">Contact</a>
                    <br>
                    <a href="https://openkat.nl/#">OpenKAT Website</a>
                    </h9>
                </h3>
            </div>

            <div class="footer_empty">
                <h3>
                     
                </h3>
            </div>

            <div class="footer_main">
                <h3>
                    <h8>
                        Join the Community
                    </h8>
                    <br>
                    <div class="footer_socials">
                        <div class="social_icons">
                        <a href="https://www.linkedin.com/groups/12594016/">
                            <img src="static/img/linkedin.png">
                        </a> 
                        <a href="https://github.com/minvws/nl-kat-coordination">
                            <img src="static/img/github.png">
                        </a>
                        </div>
                    </div> 
                </h3>
            </div>
        </div>
    </div>
</body>

</html>